<%= error_messages_for(@media) %>

<div id="spud_media_cropper_toolbar">
  <%= form_for @media, :url => spud_admin_medium_path(@media) do |f| %>

    <div class="spud_media_cropper_toolbar_item">
      <%= label_tag :x %>
      <%= f.text_field :crop_x %>
    </div>

    <div class="spud_media_cropper_toolbar_item">
      <%= label_tag :y %>
      <%= f.text_field :crop_y %>
    </div>

    <div class="spud_media_cropper_toolbar_item">
      <%= label_tag :width %>
      <%= f.text_field :crop_w %>
    </div>

    <div class="spud_media_cropper_toolbar_item">
      <%= label_tag :height %>
      <%= f.text_field :crop_h %>
    </div>

    <div class="spud_media_cropper_toolbar_item">
      <%= label_tag :scale %>
      <%= f.text_field :crop_s %>
      <a href="#" id="spud_media_cropper_resize_up"><i class="icon-plus"></i></a>
      <a href="#" id="spud_media_cropper_resize_down"><i class="icon-minus"></i></a>
    </div>

    <div id="spud_media_cropper_toolbar_actions">
      <%= f.submit 'Crop', :id => 'spud_media_cropper_submit', :class => 'btn btn-mini btn-primary' %>
      <%= link_to "Don't Crop", spud_admin_media_path, :class => 'btn btn-mini' %>
    </div>

    
  <% end %>
</div>

<div id="spud_media_cropper_outer">
  <div id="spud_media_cropper">
    <div id="spud_media_cropper_jcrop_container">
      <%= image_tag @media.attachment_url(:original), :id => 'spud_media_cropper_image' %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(window).load(Spud.Admin.Media.edit);
</script>