<%=content_for :data_controls do%>
<%=link_to "Upload File",new_spud_admin_medium_path(),:class => "btn btn-primary",:title => "Upload File"%>
<%end%>
<%=content_for :detail do%>
	<div class="page_list">
			<%@media.each do |media|%>
				<div class="page_row">

				<span class="row_meta">
					<% if media.is_protected && (media.is_image? || media.is_pdf?) %>
						<img src="<%= media.image_from_type %>" class="size-50-thumb" />
					<% else %>
						<%= image_tag(media.image_from_type, :class => "size-50-thumb") %>
					<% end %>
					<%= link_to media.attachment.url.split("/").last, media.attachment_url %>
				</span>

				<span class="edit_controls">
					<% if media.is_image? %>
						<%= link_to edit_spud_admin_medium_path(media.id), :class => 'btn btn-sm btn-default' do%>
						Crop
						<%end%>
					<% end %>
					<% if media.is_protected %>
						<%= link_to set_access_spud_admin_medium_path(media.id, :protected => false), :method => :put, :class => 'btn btn-sm btn-default' do%>
							<span class="glyphicon glyphicon-lock"></span>&nbsp; Protected
						<%end%>
					<% else %>
						<%= link_to set_access_spud_admin_medium_path(media.id, :protected => true), :method => :put, :class => 'btn btn-sm btn-default' do%>
							Public
						<%end%>
					<% end %>
					<%= link_to "Replace", replace_spud_admin_medium_path(:id => media.id), :class => "btn btn-sm btn-default"%>
					<%=link_to spud_admin_medium_path(:id => media.id),:method => :delete,:class => 'btn btn-sm btn-danger',:confirm => "Are you sure you want to remove this file?" do%>
						<span class="glyphicon glyphicon-trash"></span>
					<%end%>
				</span>

				<br style="clear:both;"/>
			</div>
			<%end%>
			<%=will_paginate @media%>

	</div>

<%end%>
